
body{
background:url("../imagenes/saofondo.jpg") center/cover fixed;
font-family:Arial,sans-serif;
color:white;
margin:0;
}

.contenedor{
background-color:rgba(0,0,0,0.75);
width:85%;
margin:auto;
margin-top:20px;
padding:30px;
border-radius:20px;
box-shadow:0px 0px 20px #60a5fa;
}

header{
text-align:center;
}

.titulo{
font-size:50px;
color:#60a5fa;
text-shadow:0px 0px 15px #60a5fa;
}

.subtitulo{
font-size:20px;
}

.titulo2{
color:#93c5fd;
text-align:center;
}

.titulo3{
color:#60a5fa;
text-align:center;
}

.parrafo{
font-size:18px;
text-align:justify;
line-height:1.7;
padding:10px;
}

.lista{
font-size:18px;
width:300px;
margin:auto;
}

.personajes{
text-align:center;
color:#93c5fd;
}

.tabla{
background-color:rgba(255,255,255,0.1);
font-size:18px;
text-align:center;
border-collapse:collapse;
margin:auto;
}

.tabla td,
.tabla th{
padding:12px;
border:1px solid white;
}

.encabezado{
background-color:rgba(96,165,250,0.5);
}

.menu{
text-align:center;
color:#93c5fd;
}

img{
border-radius:15px;
transition:0.3s;
}

img:hover{
transform:scale(1.05);
box-shadow:0px 0px 20px #60a5fa;
}

button,
input[type="submit"]{

padding:12px 20px;

border:none;

border-radius:20px;

background:linear-gradient(
45deg,
#2563eb,
#60a5fa
);

color:white;

cursor:pointer;

font-size:16px;

transition:0.3s;

}

button:hover,
input[type="submit"]:hover{

transform:scale(1.05);

box-shadow:0px 0px 15px #60a5fa;

}

select{
padding:10px;
border-radius:10px;
font-size:16px;
}

hr{
border:1px solid rgba(255,255,255,0.3);
margin-top:25px;
margin-bottom:25px;
}